/* Drop Area */
#dropArea{ width:860px; background-color:#e0e0e0; }


.label {
 margin: 1px 1px 1px 2px;
}

.sortableDrag { 
                cursor: pointer;
                }

.mute_solo {
 margin: 0px 0px 10px 14px;
 width: 45px;
 left: 10px;
}

.mute_master {
 margin: 10px 0px 55px 24px;
 height: 20px;
 width: 45px;
 left: 10px;
}

.mute_solo {
 float: left;
 margin: 5px 0px 8px 14px;
 width: 60px;
 left: 10px;
}

.mute, .solo, .mute_all {
 float: left;
 cursor: pointer;
}

.fader_master {
	width: 80px;
	float: right;
}

.fader_tracks {
	width: 83px;
	float: left;
}

.fader_volume {
  height: 150px;
	left: 24px;
	margin: 10px;
}

.fader_pan {
	 width: 46px;
		left: 14px;
		margin: 2px;
		margin-top: 13px;
}

.btn-group {
		left: 2px;
		margin: 2px;
}

.track_name {
 text-align: center;
}

.clearLeft { 
             clear: left;
             }

.topLevel {
            height: 28px;
            }

.knobArea {
            margin: 0px 0px 0px 11px;
            }

.knob {
        float: left;
        cursor: pointer;
        margin: 2px 2px 2px 2px;
        width: 25px;
        height: 25px;
        -webkit-background-size: 25px 25px;
        -webkit-transform: rotate(130deg);
        /*background: url(../images/knob_circle.png) no-repeat;*/
        background: url(../images/knob_circle_25x25_02.png) no-repeat;
        }

.meterArea {
             margin: -160px 1px 1px 1px;
             width: 80px;
             height: 210px;
             }

.canvasMeter{
              margin: 1px 1px 1px 1px;
              width: 80px;
              height: 210px;
              }
