#controllerArea{ width:860px; background-color:#ffffff; margin-top: -50px;}
.center {
																display: -webkit-box;
																-webkit-box-orient: horizontal;
																-webkit-box-pack: end;
																-webkit-box-align: end;
}
.controllerBox {
																display: -webkit-box;
																-webkit-box-orient: horizontal;
																-webkit-box-pack: end;
																-webkit-box-align: end;
																width: 860px;																
}
.controller {
												margin: 3px 2px 10px 2px;
												border: solid;
												color: #a9a9a9;
												border-radius: 2px;
												background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#c0c0c0));
												border-width: 1px;
												width: 100px;
												height: 40px;
												display: -webkit-box;
												-webkit-box-orient: horizontal;
												-webkit-box-pack: center;
												-webkit-box-align: center;
}

.buttonFrame:hover {
												background: -webkit-gradient(linear, left top, left bottom, from(#f0f8ff), to(#b0c4de));
}

.buttonFrame {
												margin: 0px 1px 0px 1px;
												border: solid 1px #a9a9a9;
												background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
												width: 40px;
												height: 30px;
												border-radius: 5px;
												display: -webkit-box;
												-webkit-box-orient: horizontal;
												-webkit-box-pack: center;
												-webkit-box-align: center;
}

.playButton {
												border:solid #000000;
												border-color:#000000 transparent transparent;
												border-width:20px 10px 0;						
												width:0;
												-webkit-transform: rotate(-90deg);
}

.stopButton {
												border: solid 1px #000000;
												background-color:#000000;
												width: 15px;
												height: 15px;
}
