#gallery {
  float: left;
}
#gallery img {
  position: absolute;
  z-index: -1;
  height: 100px;
}
#gallery img {
  float: left;
  height: 100px;
}

.caution {
		width: 600px;
		font-family: Arial;
		color: red;
  text-shadow: 1px 1px gray;
  letter-spacing: 1px;
}

.videoArea {
		margin: 10px;
	 background: black;
		border-style:solid; 
  border-width:1px; 
  width:300px; 
  height:225px;

  border-radius: 5px;
  display: inline-block;
  position: relative;

		float: left;
}

.speanaArea {
		margin: 10px 10px 10px 10px;
	 background: #fff5ee;
		border-style:solid; 
  border-width:1px; 
  width:300px; 
  height:225px;

  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.live {
  position: absolute;
  z-index: 1;
  color: red;
  font-weight: 600;
  font-family: Arial;
  font-size: 13pt;
  right: 5px;
  top: 2px;
  text-shadow: 1px 1px white;
  letter-spacing: 1px;
}
