div#canvas-frame{
  cursor: pointer;
  width: 960px;
  height: 400px;
  background-color: #EEEEEE;
}

.canvasArea {
  width: 960px;
  height: 400px;
  float: left;
}

.vSliderArea {
  margin-top: 40px;
  /*margin-left: 640px;*/
  margin-left: 900px;
}        

.vSlider {
  height: 390px;
	margin: 10px;
}
