#gallery {
  float: left;
}
#gallery img {
  position: absolute;
  z-index: -1;
  height: 100px;
}
#gallery img {
  float: left;
  height: 100px;
}

.caution {
		width: 600px;
		font-family: Arial;
		color: red;
  text-shadow: 1px 1px gray;
  letter-spacing: 1px;
}

.container {
margin-top: 80px;
  padding: 10px 25px 5px 25px;
  width: 300px;
  height: 230px;
  background: gray;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.live {
  position: absolute;
  z-index: 1;
  color: red;
  font-weight: 600;
  font-family: Arial;
  font-size: 13pt;
  right: 5px;
  top: 2px;
  text-shadow: 1px 1px white;
  letter-spacing: 1px;
}

.invert {
  -webkit-filter: invert(1);
}