#aholder { border: 5px dashed #ccc; background-color:#f5f5f5; width: 500px; height: 150px; margin: 20px auto;}
#holder { border: 5px dashed #ccc; background-color:#f5f5f5; width: 740px; height:100px; margin: 20px auto;}
#holder.hover { border: 5px dashed #333; }
